<launch>
  <node pkg='ros_exercises' type='fake_scan_publisher.py' name='fake_scan_publisher' output='screen'/>
    <param name='topic' value='real_scan'/>
    <param name='range_max' value='20'/>
  <node pkg='ros_exercises' type='open_space_publisher.py' name='open_space_publisher' output='screen'/>
    <param name='subscriber' value='real_scan'/>
</launch>